h1{
    text-align: center;
}
img{
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.black{
    margin: 20px 0px;
    color: white;
    background-color: black;
    border-radius: 25px;
    height: 60px;
    width: 100%;
}
.black img{
    width: 60px;
    height: 60px;
    border-radius: 0;
}
.thicc{
    border: solid black 1px;
}