#selected{
    background-color: greenyellow;
}
nav{
    margin-bottom: 50px;
}
.horizontalRuler{
    /* media za da izchezne*/
}
#kaka{
    text-align: center;
    z-index: 20000;
    position: relative;
}
section{
    z-index: 4;
}
section ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
section ul li{
    text-align: center;
    width: 200px;
    border: solid black 1px ;
}
section ul li:hover{
    background-color: greenyellow;
}
section ul li a{
    padding: 5 20px;
    color: black;
    text-decoration: none;
}
section ul li a:hover{
    color: black;
    text-decoration: none;
}
main{
    width: 90vw;
    margin: auto;
    border-radius: 25px;
    border: solid black 1px;
}
/*@media section da stane menu */