#selected{
    background-color: greenyellow;
}
nav{
    margin-bottom: 50px;
}
#kaka{
    text-align: center;
    z-index: 20000;
    position: relative;
}
section{
    z-index: 4;
}
section ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
section ul li{
    text-align: center;
    width: 200px;
    border-bottom: solid crimson 2px;
}
section ul li:hover{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: white;
    background-color: crimson;
}
section ul li a{
    overflow: hidden;
    padding: 5px 50px;
    color: black;
    text-decoration: none;
}
section ul li a:hover{
    color: white;
    text-decoration: none;
}
main{
    width: 90vw;
    margin: auto;
    border-radius: 25px;
    border: solid black 1px;
}

footer{
    margin-top: 30px;
}
#responsive a .fa{
    color: crimson;
}
#responsive{
    color: crimson;
    display: none;
    text-decoration: none;
    font-size: 80px;
    text-align: center;
}

@media screen and (max-width: 990px) {
    section ul{
        flex-flow: column;
    }
    section ul li{
        width: 60vw;
        border: 1px white solid;
        background-color: crimson;
    }
    section ul li a{
        color: white;
    }
    section ul li:hover{
        width: 65vw;
        border-radius: 25px;
    }

}
